{% extends 'base.html' %}
{% block content %}

{% if success_message %}
  <p>{{ success_message }}</p>
{% endif %}
  
<h2 style="text-align: center;">{{ events.name }}</h2>
<hr>
<div class="event-info"> 
<p><span class="keyword">Date:</span> {{ events.date }}</p>
<p><span class="keyword">Time:</span> {{ events.time }}</p>
<p class="keyword">Description:</p>
<p>{{ events.description }}</p>
</div>
<a href="{% url 'events_edit' events.id %}" class="btn blue">Edit</a>
{% comment %} <a href="{% url 'events_delete' events.name %}" class="waves-effect waves-light btn red darken-1">Delete</a> {% endcomment %}
<form action="{% url 'events_delete' events.id %}" method="post">
    {% csrf_token %}
    <input type="submit" class="waves-effect waves-light btn red darken-1" value="Delete">
</form>
{% endblock %}