{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

  <h2 class="profile-title">{% block title %} Hello, {{request.user.get_full_name}} {% endblock %}</h2>
  <div class="profile-info">
  <h4>Username: {{ user }}</h4>
  <a class="btn blue" href="{% url 'edit_profile' %}">Edit Profile</a>
  </div>
  

{% else %}

<h3>Login to view Profile</h3>

{% endif %}
<br><br>
<div class="list-container">
  <div>
    <a href="{% url 'new' %}" class="btn">Create Event</a>
  </div>
  {% for event in events %}
    <div class="card">
    <button type="button" class="collapsible">{{ event.name }} <span class="right">Date: {{ event.date }}</span></button>
      <div class="card-content">
        <p>Description: {{ event.description }}</p>
      </div>
      <a href="{% url 'events_edit' event.id %}" class="btn blue">Edit</a>
      <form class="right" action="{% url 'events_delete' event.id %}" method="post">
          {% csrf_token %}
          <input type="submit" class="waves-effect waves-light btn red darken-1" value="Delete">
      </form>
    </div>
  {% endfor %}
</div>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
{% endblock %}