{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

  <h2 class="profile-title">{% block title %} Hello, {{request.user.get_full_name}} {% endblock %}</h2>
  <div class="profile-info">
  <h4>Username: {{ user }}</h4>
  </div>

{% comment %} {% if user.id == request.user.id  %}
<div id="profile-buttons">
<a class="btn blue" href="{% url 'edit_profile' %}">Edit Profile</a>
<br>
<br>
<a class="waves-effect waves-light btn red darken-1 modal-trigger" href="{% url 'change-password' %}">Change Password</a>
</div>
{% endif %} {% endcomment %}

{% else %}

<h3>Login to view Profile</h3>

{% endif %}
{% for event in events %}
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ event.name }}</span>
      <p>Description: {{ event.description }}</p>event
    </div>
  </div>
{% endfor %}
{% endblock %}