{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="home-cover">
    <div class="home-header">
        {% comment %} <img class="home-image" src="static/images/homepage.jpg" alt="notebook" height="600"> {% endcomment %}
    </div>
</div>
<div class="button-tabs">
    <button class="tablink" onclick="openPage('Work', this, 'black')" id="defaultOpen">How It Works</button>
    <button class="tablink" onclick="openPage('About', this, 'black')">About</button>
    <button class="tablink" onclick="openPage('Mission', this, 'black')">Mission</button>
</div>
<div id="Work" class="tabcontent">
  <h3>How It Works </h3>
  <p>How it works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works </p>
  <p>How it works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works </p>
  <p>How it works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works </p>
  <p>How it works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works How It Works </p>
</div>

<div id="About" class="tabcontent">
  <h3>About</h3>
  <p>Some news this fine day!</p>
</div>

<div id="Mission" class="tabcontent">
  <h3>Mission</h3>
  <p>Who we are and what we do.</p>
</div>
<footer class="page-footer">
  <div id="footer-text" class="right">All Rights Reserved</div>
</footer>

<script>
    function openPage(pageName, elmnt, color) {
  // Hide all elements with class="tabcontent" by default */
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content
  document.getElementById(pageName).style.display = "block";

  // Add the specific color to the button used to open the tab content
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
{% endblock %}